{% extends "base.html" %}
{% block bodycontent %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" svg_class='icon'>
        <h2>new Username</h2>
        <div class="box">
            <form method="POST" action="/usernameChange">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="username" name="username" placeholder="Your new Username" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your current Password" autofocus="">
                    </div>
                </div>
                <form action="/usernameChange/" method="POST">
                    <button class="button is-block is-info is-large is-fullwidth" name="usernameChangeConfirm" type="submit">Change Username</button>
                </form>
            </form>
        </div>
    </svg>
{% endblock %}
